.container {
  display: grid;
  grid-template-columns: repeat(16, 0fr);
  gap: 1px;
  height:30px;
  width: 30px;
  justify-content:left;
  position: relative;
  left: 200px;
}
h1 {
 color: rgb(2, 2, 146);
 position: relative;
 left: 400px;
}
body{
  border: 9px solid rgb(31, 123, 153);
  padding-bottom: 700px;
}